$nav-bg: #9a9a9a;
$header-bg: #eaeaea;
$header-btn-bg: #c4c4c4;
$main-bg: #f5f5f5;
$footer-bg: #606060;
$link-color: #005380;

$test-end-bg: #d9d9d9;
$test-end-question-bg: #dfdfdf;
$test-end-answer-bg: #c6c6c6;
$test-wrong-answer: #818181;
$theory-bg: #dadada;
$journal-empty-bg: rgba(0,0,0,.05);
$catalog-bg: #696969;

$desktop-width: 1620px;
$laptop-width: 1499px;
$tablet-width: 1024px;
$mobile-width: 767px;
$xs-mobile-width: 575px;
