.btn {
  @include dflex(nowrap, row, center, center);
  @include transition(background-color);
  width: 100%;
  max-width: 400px;
  min-height: 37px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border: none;
  background-color: $link-color;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    background-color: lighten($link-color, 10%);
    outline: none;
  }

  &--arrow {
    width: 38px;
    height: 38px;
    padding: 0;
    background-color: $header-btn-bg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 12px;
    border-radius: 50%;
  }

  &--arrow-prev {
    background-image: url("../img/icon-arrow-slider-prev.svg");
  }

  &--arrow-next {
    background-image: url("../img/icon-arrow-slider-next.svg");
  }

  &--alt {
    width: 100%;
    max-width: 237px;
    min-height: 53px;
    background-color: $header-btn-bg;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -.04px;
    color: #000;

    &:hover,
    &:focus {
      background-color: lighten($header-btn-bg, 10%);
    }
  }
}
