.container {
  width: 1110px;
  margin-left: 70px;
  padding: 0;
}

@media (max-width: $desktop-width) {
  .container {
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: $laptop-width) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: $tablet-width) {
  .container {
    padding-right: 35px;
    padding-left: 65px;
  }
}

@media (max-width: $mobile-width) {
  .container {
    padding-right: 15px;
    padding-left: 45px;
  }
}

@media (max-width: $xs-mobile-width) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
