.main-content {
  display: flex;
  flex-direction: column;
  flex-basis: 74%;
  max-width: 74vw;
  background-color: $main-bg;
}

@media (max-width: $tablet-width) {
  .main-content {
    flex-basis: auto;
    min-height: 100vh;
    max-width: 100vw;
  }
}
