.modal {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(11, 11, 11, 0.84);
  z-index: 50;

  &--open {
    display: block;
  }
}

.modal__form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: calc(100% - 40px);
  height: auto;
  max-height: calc(100vh - 40px);
  margin: 0;
  background-color: #fff;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  z-index: 100;
}

.modal__close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal__submit {
  color: #fff;
  background-color: $accent-color;
  border: none;
}
