.section {
  margin-bottom: 90px;
}

.section__heading {
  @include reset;
  font-weight: 600;
  font-size: 34px;
  line-height: 1;
  margin-bottom: 40px;
  color: #000;
}

.section__heading-block {
  @include dflex(nowrap, row, flex-start, center);
  margin-bottom: 40px;
}

.section__heading-block .section__heading {
  margin: 0;
}

.section__heading-block .section__subheading {
  @include reset;
  margin-left: 28px;
  font-weight: normal;
  font-size: 23px;
  line-height: 1;
  letter-spacing: -.2px;
  color: rgba(0,0,0,.32);
}

.section__info-btn {
  @include dflex(nowrap, row, center, center);
  @include transition(background-color);
  flex-shrink: 0;
  width: 37px;
  height: 37px;
  margin-left: 22px;
  padding: 0;
  color: #fff;
  font-weight: 500;
  font-size: 21px;
  line-height: 22px;
  letter-spacing: -.2px;
  background-color: #000;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    background-color: lighten($link-color, 10%);
  }
}

@media (max-width: $tablet-width) {
  .section {
    margin-bottom: 70px;
  }

  .section__heading {
    margin-bottom: 35px;
    font-size: 30px;
  }

  .section__heading-block {
    margin-bottom: 35px;
  }
}

@media (max-width: $mobile-width) {
  .section {
    margin-bottom: 50px;
  }

  .section__heading {
    margin-bottom: 30px;
    font-size: 28px;
  }

  .section__heading-block {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .section__heading-block .section__heading {
    margin: 0;
  }

  .section__heading-block .section__subheading {
    margin-top: 15px;
    margin-left: 0;
    font-size: 18px;
    line-height: 18px;
  }

  .section__heading-block {
    margin-bottom: 30px;
  }

  .section__info-btn {
    margin-top: 15px;
    margin-left: 0;  
  }
}

@media (max-width: $xs-mobile-width) {
  .section {
    margin-bottom: 40px;
  }

  .section__heading {
    margin-bottom: 25px;
    font-size: 26px;
  }

  .section__heading-block .section__heading {
    margin: 0;
  }

  .section__heading-block {
    margin-bottom: 25px;
  }
}
