.theory__subheading {
  @include reset;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  letter-spacing: -.2px;
}

.theory__content {
  margin-bottom: 30px;
  padding: 30px 30px 36px;
  background-color: $theory-bg;
}

.theory__content p {
  @include reset;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.theory__content img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.theory__btn {
  max-width: 194px;
  min-height: 60px;
}

@media (max-width: $laptop-width) {
  .theory__subheading {
    font-size: 28px;
  }
}

@media (max-width: $tablet-width) {
  .theory__subheading {
    font-size: 26px;
  }
}

@media (max-width: $mobile-width) {
  .theory__subheading {
    font-size: 24px;
  }

  .theory__content p {
    font-size: 18px;
  }
}

@media (max-width: $xs-mobile-width) {
  .theory__subheading {
    font-size: 22px;
  }
}
